/* General */

a {
    color: #151515 !important;
}

h1 {

}

.header {
    padding: 5% 10% 0% 10%;
}

.landing {
	background-color: white;
    color: #151515 !important;
}

.landing-content {
		display: flex;
		width: 90%;
        margin: 0 5%;
        line-height: 1.5;
	}

.section {
    margin: 40px;
}

.section .article {
    margin: 0;
}

.article .container {
    display: flex;
    justify-content:space-between;
    padding-top: 10px !important;
}

.section-links {
    display: inline-flex;
	font-family: 'tbiSerif';
    width: 105%;
}

.section-links ul {
    font-size: 18px;
	list-style-type: none;
    margin-left: -20%;
}

.section-links li{
	margin: 0 0 25px;
    width: 95%;
}

.article {
	background-color: #151515;
	color: white;
	margin-bottom: 5px;
}

.article .container {
	width: 80%;
	margin: auto;
	padding: 50px 0;
}

.article h1,
.article h2 {
	font-family: 'tbiSansSerif';
	width: 8-%;
}

.article h1 {
	font-size: 26px;
}

.btn-read {
	height: 100px;
	width: 100px;

	font-family: 'tbiSerif';
	font-size: 20px;

	border: 1px solid white;
	border-radius: 50%;

	background: transparent;
	color: white;
}

.top-footer-container {
        height: 210px !important;
	}

.top-footer .newsletter input:first-child {
	color: #151515 !important;
	border-bottom: 1px solid #151515 !important;
}

.top-footer .newsletter input:last-child {
	color: #151515 !important;
	border: 1px solid #151515;
    letter-spacing: 1px;
}

.top-footer .newsletter input::-webkit-input-placeholder{
    color: #151515 !important;
    letter-spacing: 0.5px;
}



/* Leadership */

.leadership-img {
    width: 45%;
    padding-right: 2%;
}

.leadership-img img {
    width: 90%;
}

.leadership-content {
    width: 60%;
}

.leadership-content .title {
    margin: 0;
}

.leadership-content .details {
    font-size: 12.5px;
    line-height: 2;
}



/* Community */

.community-img {
	padding-top: 50px;
}

.community-content {
	width: 80%;
}

.community-content .source {
	text-transform: uppercase;
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
}

.community-content .details {
	margin: 20px 0;
	font-style: normal;
	font-size: 16px;
	font-weight: 400;
}

.community-content .image img {
	width: 100%;
}



/* Knowledge */

.know-book-img {
    width: 40%;
}

.know-book-img img {
    padding-left: 15%;
    width: 250px;
    width: 60%;
}

.know-book-content{
    width: 50%;
    padding-right: 5%;
}

.know-paper-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
}

.know-paper-image {
    align-items: center;
}

.know-paper-image .img {
    width: 50%;
}

.know-paper-content .btn-read {
    font-size: 15px;
    height: 50px;
}