.section-links {
    display: inline-flex;
	font-family: 'tbiSerif';
    width: 105%;
}

.section-links ul {
	list-style-type: none;
    margin-left: -20%;
}

.section-links li{
	margin: 0 0 25px;
    width: 95%;
}

.article {
	background-color: #151515;
	color: white;
	margin-bottom: 5px;
}

.article .container {
	width: 80%;
	margin: auto;
	padding: 50px 0;
}

.article-img{
	width: 100%;
	padding-bottom: 30px;
}

.article h1,
.article h2 {
	font-family: 'tbiSansSerif';
	width: 8-%;
}

.article h1 {
	font-size: 26px;
}

.nav-article {
    height: 1px;
    background-color: white;
    width: 90%;
    margin: 50px;
}