@import url('article.css');

.divider {
    display: flex;
    justify-content: space-around;
}

.line{
    height: 1px;
    background-color: white;
    width: 90%;
    margin: 50px;
    margin-top: 0px;
}

.nav-btn{
    height: 1px;
    width: 90%;
    margin: 50px;
}

.k {
    padding: 5% 10% 0% 10%;
}

.k-a {
    width: 40%;
}

.k-a .img {
    padding-left: 10%;
    width: 250px;
    width: 70%;
}

.k-b{
    width: 50%;
    padding-right: 5%;
}

.k-c {
    padding-right: 20px;
}

.top-header {
    position: sticky;
    padding-right: 5%;
    padding-left: 5%;
    top: 40px;
    width: 90%;
}

.landing-content {
    top: 15% !important;
}

.article .container {
    display: flex;
    justify-content:space-between;
}

.knowledge .article {
    padding-left: 25px;
	margin-bottom: 0;
}

.knowledge .article-content {
	width: 80%;
}

.knowledge .article-content .type {
	text-transform: uppercase;
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
}

.knowledge .article-content .details {
	margin: 20px 0;
	font-style: normal;
	font-size: 16px;
	font-weight: 400;
}

.knowledge .article-content .image img {
	width: 100%;
}

.knowledge .article-img {
    width: 100px;
    padding-top: 55px;
    height: 100px;
}

.nav-btn {
    width: 100px;
    padding-top: 55px;
    height: 100px;
}

.knowledge .btn-read {
	height: 100px;
	width: 100px;

	font-family: 'tbiSerif';
	font-size: 20px;

	border: 1px solid white;
	border-radius: 50%;

	background: transparent;
	color: white;
}

.top-footer-container {
        height: 210px !important;
	}

.top-footer .newsletter input:first-child {
	color: #151515 !important;
	border-bottom: 1px solid #151515 !important;
}

.top-footer .newsletter input::-webkit-input-placeholder{
    color: #151515 !important;
    letter-spacing: 0.5px;
}