.landing-content {
        height: 50%;
        width: 100%;
        position: absolute;
        top: 27%;
        bottom: 50%;
        left: 0;
}

/* Contact */

.contact {
    padding: 0 50px;
}

.contact form label {
	display: block; 
	margin: 0px 10px 10px 10px;
}

.contact form input,
.contact form textarea {
    display: block;
	width: 70%;
	height: 26px;
	margin: auto;
	margin-top: 0px;

	background-color: transparent;
	color: white !important;
	border: none;
	border-bottom: 1px solid white;
	padding: 10px 0;
	font-family: 'tbiSansSerif';
    
}

.contact form textarea {
    margin-top: 50px;
    height: 100px;
}

.email {
    display: block;
	width: 66.5% !important;
    margin-right: 5px important;
}

.btn {
	display: inline-block;
	padding: 10px;

    color: #151515;
    background-color: transparent;
    font-weight: bold;

    border: none;
    border: 1px solid #151515;
    border-radius: 3px;
}

.btn-submit {
	float: right;
}



/* Donate */

.donate {
    color: white;
}

.donate-desc {
    float: left;
    display: inline-block;
    font-size: 14px;
    line-height: 2;
    width: 55%
}

.donate-amount {
    display: inline-block;
    width: 45%
}

.donate-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.donate-amount .btn-donate {
	margin: 5px;
	padding: 10px;
	font-weight: bold;
    width: 90%;

	background: white;
	color: #151515;
}

.btn-paypal {
	margin-top: 20px;
	text-align: right;
}