/* General */

img {
	display: inline-block;
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 15px;
}

.content {
    height:95%;
    width: 90%;
    margin: auto;
}



/* LANDING */

.landing {
	background-color: #151515;
	height: 100vh;
}

.landing .container {
	height: 100%;
}

.landing .container .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
	height: 100%;
    position: relative;
}

.landing-content-mobile {
	height: 40%;
	display: none;
	width: 100%;
}

.landing-content-mobile p {
	text-align: center;
	width: 80%;
	margin: auto;
	font-size: 20px;
	line-height: 28px;
}



/* Index Content */

.index-content {
    display: block;
    flex-grow: 2;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    margin: 20px;
    margin-left: 2%;
}

.index-content .img {
        align-content: flex-start;
        padding-right: 10%;
        width: 100px;
}

.index-content .knowledge {
		color: #ffff00;
        padding-right: 10%;
	}
    
.index-content .knowledge-spiel {
		color: #ffff00;
        width: 60%;
        font-size: 70%;
        line-height: 1.5;
	}
    
.index-content .leadership {
		color: #f42938;
        padding-right: 10%;
	}
    
.index-content .leadership-spiel {
		color: #f42938;
        width: 60%;
        font-size: 70%;
        line-height: 1.5;
	}
    
.index-content .community {
		color: #00ee00;
        padding-right: 10%;
	}
    
.index-content .community-spiel {
		color: #00ee00;
        width: 60%;
        font-size: 70%;
        line-height: 1.5;
	}



/* Header */

.top-header {
    height: 25%;
}

.top-header-content {
	height: 100px;
    height :100%;
    display: flex;
    align-items: center;
}

.top-header .logo .img {
    display: flex;
    margin: 12px;
    width: 10px;
}

.top-header .desktop-nav {
	display: none;
}

/* Header-mobile */

.top-header .mobile-nav-toggle {
	display: inline-block;
	float: right;
	margin: 40px 20px;
	font-weight: bold;
	color: white;
}

.top-header .mobile-nav {
	margin-left: 425px;
	height: 100%;
	width: 100%;
	background-color: white;

	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.3s;
}

.top-header .desktop-nav, .top-header ul, .top-header li {
		display: inline-block;
		padding: 0;
		margin: 0;
	}

.top-header ul {
		width: 100%;
	}

.top-header .mobile-nav-toggle,
.top-header .mobile-nav {
		display: none;
	}

.top-header .desktop-nav {
		display: inline-block;
		right: 0;
		flex-grow: 1;
		font-weight: bold;
		text-align: right;
	}

.top-header li:nth-child(2) {
		padding-left: 10%;
	}



/* Top Footer */

.top-footer{
	height: 25%;
}

.top-footer-container {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
    
    flex-direction: row;
    height: 130px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.top-footer .social-media {
		flex: 1 0 0;
	}

.top-footer .social-media ul {
	padding: 0;
	margin: 0;
}

.top-footer .social-media li {
	display: inline-block;
}

.top-footer .social-media img {
	width: 30px;
	margin-top: 10px;
}

.top-footer .newsletter {
	width: 100%;
    flex: 2 0 0;
}

.top-footer .newsletter input:first-child {
    margin-top: 5%;
	margin-bottom: 5%;
    
	background-color: transparent;
	color: white;
	border: none;
	border-bottom: 1px solid white;
	padding: 10px 0;
	font-family: 'tbiSerif';
    
    display:inline-block;
    width: 60%;
    margin: 0;
}

.top-footer .newsletter input:first-child:focus {
	outline: none;
}

.top-footer .newsletter input:first-child::placeholder {
	color: white;
}

.top-footer .newsletter input:last-child {
    float: right;
    
    font-family: tbiSansSerif;
	display: block;
	margin: auto;
    height: 40px;

	background-color: transparent;
	color: white;
	font-weight: bold;
	border: none;
	border: 1px solid white;
	border-radius: 3px;
	padding: 10px;
}

.top-footer .email{
    letter-spacing: 1px;
}



/* Footer */

footer {
	display: flex;
    align-items: baseline;
	color: #151515;
	line-height: 22px;
	padding: 0;

	font-size: 18px;
}

.footer-item {
		display:grid;
	}

.footer-content {
		width: 100%;
		display: flex;
		align-items:baseline;
        padding-top: 30px;
	}

/* Footer-left */

.footer-content .spiel {
        font-size: 16px;
        line-height: 2.15;
		margin: 0 5%;
		width: 40%;

	}

.footer-content .buttons {
    display: flex;
    font-size: 11px;
}
    
.footer-content .buttons a:hover {
	   font-family: serif;
        font-size: 13px;
        font-weight: bold;
}
    
.footer-content .circle {
    width: 50%;
	display: inline-block;
	height: 90px;
	width: 90px;
    margin-right: 40px;

	border: 1px solid #151515;
	border-radius: 50%;
	text-align: center;
	color: #151515;
	
	line-height: 90px;
}
    
/* Footer-right */

.footer-content .navigation {
        line-height: 2.15;
        font-size: 14px;
		flex: 1 0 0;
	}

.footer-content .links a {
    color: #151515 !important;
}

.footer-content .details {
        display: block;
        font-size: 13px;
		width: 50%;
	}
    
footer .footer-content .acknowledgement {
        font-size: 11px;
        padding-bottom: 30px;
		width: 50%;
	}
}