@import url('article.css');

.top-header {
    position: sticky;
    padding-right: 5%;
    padding-left: 5%;
    top: 40px;
    width: 90%;
}

.landing-content {
        top: 15% !important;
}

.article-img{
	text-align: center;
}

.community .articles {
	background-color: #151515;
}

.community .article {
    width: 100%;
	margin-bottom: 0;
}

.community .article-content .type {
	text-transform: uppercase;
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
}

.community .article-content .details {
	margin: 20px 0;
	font-style: normal;
	font-size: 16px;
	font-weight: 400;
}

.community .article-content .image img {
	width: 100%;
}

.community .article-img {
	padding: 0;
	padding-top: 20px;
}

.community .btn-read {
	height: 100px;
	width: 100px;

	font-family: 'tbiSerif';
	font-size: 20px;

	border: 1px solid white;
	border-radius: 50%;

	background: transparent;
	color: white;
}

.top-footer .newsletter input:first-child {
	color: #151515 !important;
	border-bottom: 1px solid #151515 !important;
}

.top-footer .newsletter input::-webkit-input-placeholder{
    color: #151515 !important;
    letter-spacing: 0.5px;
}